<form>
  <div class="form-group">
    <label for="inputZhName">餐廳中文名稱</label>
    <input type="text" class="form-control" id="inputZhName" placeholder="Restaurant Chinese Name"
      value="{{restaurant.name}}">
  </div>
  <div class="form-group">
    <label for="inputEnName">餐廳英文名稱</label>
    <input type="text" class="form-control" id="inputEnName" placeholder="Restaurant English Name"
      value="{{restaurant.name_en}}">
  </div>
  <div class="form-group">
    <label for="inputEnName">種類</label>
    <input type="text" class="form-control" id="inputEnName" placeholder="Restaurant English Name"
      value="{{restaurant.name_en}}">
  </div>
  <div class="form-group">
    <label for="inputEnName">圖片網址</label>
    <input type="text" class="form-control" id="inputEnName" placeholder="Restaurant English Name"
      value="{{restaurant.name_en}}">
  </div>
  <div class="form-group">
    <label for="inputEnName">地址</label>
    <input type="text" class="form-control" id="inputEnName" placeholder="Restaurant English Name"
      value="{{restaurant.name_en}}">
  </div>
  <div class="form-group">
    <label for="inputEnName">電話</label>
    <input type="text" class="form-control" id="inputEnName" placeholder="Restaurant English Name"
      value="{{restaurant.name_en}}">
  </div>
  <div class="form-group">
    <label for="inputEnName">Google Map 位置</label>
    <input type="text" class="form-control" id="inputEnName" placeholder="Restaurant English Name"
      value="{{restaurant.name_en}}">
  </div>
  <div class="form-group">
    <label for="inputEnName">星級評比</label>
    <input type="text" class="form-control" id="inputEnName" placeholder="Restaurant English Name"
      value="{{restaurant.name_en}}">
  </div>
  <div class="form-group">
    <label for="inputEnName">描述</label>
    <input type="text" class="form-control" id="inputEnName" placeholder="Restaurant English Name"
      value="{{restaurant.name_en}}">
  </div>
  <button type="submit" class="btn btn-primary">儲存 Save</button>
</form>