<h1 class="mb-1 restaurant-show-title">{{restaurant.name}}</h1>
<div class="container">
  <div class="row">
    <div class="col-12 col-md-10 mx-auto">
      <div id="choices">
        <div class="btn-group" role="group" aria-label="Basic example">
          <a href="/" class="text-secondary">
            <button type="button" class="btn btn btn-info">回首頁</button>
          </a>
          <a href="/restaurants/{{{restaurant._id}}}/edit" class="text-secondary">
            <button type="button" class="btn btn-secondary">編輯此頁</button>
          </a>
          <!--Button trigger modal-->
          <button type="button" class="btn btn-danger" data-toggle="modal"
            data-target="#a{{restaurant._id}}">刪除</button>
          <!--Modal-->
          <div class="modal fade" id="a{{restaurant._id}}" tabindex="-1" role="dialog"
            aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">{{restaurant.name}}</h5>
                </div>
                <div class="modal-body">
                  <h6>請再次確認，您真的要刪除嘛？</h6>
                </div>
                <div class="modal-footer">
                  <div class="btn-group" role="group" aria-label="Basic example">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">回首頁</button>
                    <form action="/restaurants/{{restaurant._id}}/delete?_method=DELETE" method="POST">
                      <button type="submit" class="btn btn-danger">刪除</button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <p class="mb-1">
        <span class="text-secondary">
          <i class="fas fa-utensils pr-2"></i>
          類別：
        </span>
        {{restaurant.category}}
      </p>

      <p class="mb-1">
        <span class="text-secondary">
          <i class="fas fa-map-marker-alt pr-2"></i>
          地址：
        </span>
        {{restaurant.location}}
        <a href="{{restaurant.google_map}}" class="text-secondary" target="_blank">
          <i class="fas fa-location-arrow pr-2 fa-xs"></i>
        </a>
      </p>

      <p class="mb-1">
        <span class="text-secondary">
          <i class="fas fa-mobile-alt pr-2"></i>
          電話：
        </span>
        {{restaurant.phone}}
      </p>

      <p class="mb-5">
        {{restaurant.description}}
      </p>

      <img class="rounded mx-auto d-block mb-4 w-100" src="{{restaurant.image}}" alt="{{restaurant.name}}"
        style="max-width: 600px;">
    </div>
  </div>
</div>